h1{
	color:	#B22222;
	text-align:center;
}
.head h2{
	color:	#8A2BE2;
	text-decoration-line:underline;
}
li::marker{
color:	#6495ED;
}
ul{
	color:	#000080;
	line-height:30px;
	font-size:20px;
}
h3{
	color:	#8B008B;
	text-decoration-line:underline;
}
.cm h2{
	font-size:2cm;
}
.cm p{
	font-size:0.5cm;
}
.mm h2{
	font-size:10mm;
}
.mm p{
	font-size:4mm;
}
.in h2{
	font-size:1in;
}
.in p{
	font-size:0.2in;
}
.px h2{
	font-size:20px;
}
.px p{
	font-size:10px;
}
.pt h2{
	font-size:20pt;
}
.pt p{
	font-size:10pt;
}
.pc h2{
	font-size:4pc;
}
.pc p{
	font-size:0.5pc;
}
.em h2{
	font-size:4em;
}
.em p{
	font-size:1em;
}
.ex h2{
	font-size:4ex;
}
.ex p{
	font-size:2ex;
}
.ch h2{
	font-size:4ch;
}
.ch p{
	font-size:2ch;
}
.rem h2{
	font-size:4rem;
}
.rem p{
	font-size:1rem;
}
.vw h2{
	font-size:4vw;
}
.vw p{
	font-size:1vw;
}
.vh h2{
	font-size:4vh;
}
.vh p{
	font-size:1vh;
}
.vmin h2{
	font-size:4vmin;
}
.vmin p{
	font-size:1vmin;
}
.vmax h2{
	font-size:4vmax;
}
.vmax p{
	font-size:1vmax;
}
.per h2{
	font-size:100%;
}
.per p{
	font-size:50%;
}

		